[Desktop Entry]
Type=Application
Name=Alacritty
Exec=/home/guillaume/.local/bin/alacritty
Icon=/home/guillaume/.local/share/icons/hicolor/64x64/apps/alacritty-term.png
Terminal=false
Categories=System;TerminalEmulator;
